<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-57.png">
    <link rel="stylesheet" href='styles/main.css' media="screen">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' type='text/css'>
    <title></title>
  </head>
  <body>
    <header>
      <div class="inner">
        <nav>
          <ul>
            <li><a href="#"><span class="icon-home"></span>Home</a></li>
            <li><a href="#login"><span class="icon-login"></span>Login</a></li>
            <li><a href="#register"><span class="icon-register"></span>Register</a></li>
            <li><a href="#dashboard"><span class="icon-dashboard"></span>Dashboard</a></li>
            <li><a href="#profile"><span class="icon-profile"></span>Profile</a></li>
            <li><a href="#users"><span class="icon-users"></span>Users</a></li>
          </ul>
        </nav>
      </div><!--inner-->
    </header>

    <main class="inner">
    <h1></h1>

    </main>

  </body>


  <script type="text/template" id="twitTemplate">
    <h2><a href"#user"><%= name %></a></h2>
    <p><%= message %></p>
    <time><%= created %></time>
  </script>


  <script type="text/template" id="timelineTemplate">
    <div class="tweetNow">
      <textarea type="text" class="msg" placeholder="Message"/></textarea>
      <input type="text" class="name" placeholder="Username..."/>
      <button type="submit" name="name"><span class="icon-pen"></span>Send Tweet</button>
    </div>
    <% _.forEach(tweets, function(tweet){ %>
      <div class="tweet">
        <h2><a href=""><%= tweet.user.email %></a></h2>
        <time>Updated: <%= tweet.created_at %></time>
        <p><%= tweet.body %></p>
      </div>
    <% }) %>
  </script>

  <script type="text/template" id="loginTemplate">
    <h1>Login</h1>
    <div class="loginWrap">
      <input type="text" class="email" value="" placeholder="E-Mail...">
      <input type="password" class="password" value="" placeholder="Password:" display="none">
      <!-- <input type="password" class="confPassword" value="" placeholder="Conf. Password:"> -->
      <input type="button" class="loginButton" value="Login">
      <span>Or...<a href="#register">Register Here</a></span>
    </div>
  </script>

  <script type="text/template" id="registerTemplate">
    <h1>Register for twittar.</h1>
    <div class="registerWrap">
      <input type="email" class="email" value="" placeholder="E-Mail...">
      <input type="password" class="password" value="" placeholder="Password:">
      <input type="password" class="confPassword" value="" placeholder="Conf. Password:">
      <input type="button" class="registerButton" value="Join">
    <span>Or...<a href="#login">Login Here</a></span>
  </div>

  <script type="text/template" id="profileTemplate">
    <img src="" alt="twitpic" />
    <h1><%= name %></h1>
    <h2>LOGIN</h2>
    <input type="text" name="name" value="" placeholder="username">
    <section class="timeline"></section>

  <script type="text/template" id="dashboardTemplate">
    <h2>DASHBOARD</h2>
    <input type="button" name="name" value="click me">
    <section class="timeline"></section>
  </script>

-  <script type="text/template" id="usersTemplate">
    <h2>USERS</h2>
    <input type="button" name="name" value="click me">
  </script>


  <script type="text/template" id="homeTemplate">
    <h1>Twittar</h1>
    <section class="timeline"></section>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js" ></script>
  <script src="node_modules/moment/min/moment.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/magic-line.js"></script>
</html>
