<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-57.png">
    <link rel="stylesheet" href='styles/main.css' media="screen">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' type='text/css'>
    <title></title>
  </head>
  <body>
    <header>
      <div class="inner">
        <nav>
          <ul>
            <li><a href="#"><span class="icon-home"></span>Home</a></li>
            <li><a href="#login"><span class="icon-login"></span>Login</a></li>
            <li><a href="#register"><span class="icon-register"></span>Register</a></li>
            <li><a href="#dashboard"><span class="icon-dashboard"></span>Dashboard</a></li>
            <li><a href="#profile"><span class="icon-profile"></span>Profile</a></li>
            <li><a href="#users"><span class="icon-users"></span>Users</a></li>
          </ul>
        </nav>
      </div><!--inner-->
    </header>

    <main class="inner">


    </main>



  </body>

<!-- YO! I (lindsey) changed the input on line 41 to a button because I needed a non self-closing element so I could use the icon span. I'd like to change the others too, holler if that's a problem! -->

  <script type="text/template" id="twitTemplate">
    <h2><%= name %></h2>
    <p><%= message %></p>
  </script>

  <script type="text/template" id="timelineTemplate">
    <h2>TIMELINE</h2>
    <button type="submit" name="name"><span class="icon-pen"></span>Click Me</button> 
    <% _.forEach(tweets, function(tweet){ %>
      <div class="tweet">
        <h2><%= tweet.user.email %></h2>
        <p><%= tweet.body %></p>
      </div>
    <% }) %>
  </script>

  <script type="text/template" id="loginTemplate">
    <h2>LOGIN</h2>
    <input type="text" name="name" value="" placeholder="username">
  </script>

  <script type="text/template" id="registerTemplate">
    <h2>REGISTER</h2>
    <input type="button" name="name" value="click me">
  </script>

  <script type="text/template" id="dashboardTempalte">
    <h2>DASHBOARD</h2>
    <input type="button" name="name" value="click me">
  </script>

  <script type="text/template" id="profileTemplate">
    <h2>PROFILE</h2>
    <input type="button" name="name" value="click me">
  </script>

  <script type="text/template" id="usersTemplate">
    <h2>USERS</h2>
    <input type="button" name="name" value="click me">
  </script>

  <script type="text/template" id="homeTemplate">
    <h1>Twittar</h1>
    <section class="timeline"></section>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js" ></script>
  <script src="js/main.js"></script>
  <script src="js/magic-line.js"></script>

</html>