@import 'common_resetCss';
@import 'mixins';
@import 'fonts';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../bower_components/neat/app/assets/stylesheets/neat';

$primary: 	#0084b4;
$secondary:	#66757f;
$tertiary:	#8899a6;
$background:#f5f8fa;
$black:		#292f33;
$white:		#ffffff;


body {
	@include regular();
  	font-size: 1rem;
	background-color: $background;
}

header {
	padding: 13px 0;
	border-bottom: .5px solid rgba(136, 153, 166, .4);
	height: 40px;
	margin-bottom: 10px;
	.inner {
		position: relative;
	}
}

.inner {
	@include outer-container(12);
	margin: 0 auto;
	max-width: 600px;
	width: 80%;
}

nav ul {
	width: 100%;
	position: absolute;
	right: 0;
	text-align: center;
	margin-left: 15px;
	li {
		display: inline-block;
		padding: 0 1%;
		a {
			color: $secondary;
			@include bold();
			text-decoration: none;
			position: relative;
			padding: 4px 0 0 30px;
			@include transition();
			span {
				font-size: 2em;
				position: absolute;
				left: 0;
				top: 0;
			}
			&:hover {
				color: $primary;
			}
		}
		&#line {
			position: absolute;
			height: 3px;
			bottom: -13px;
			left: 0;
			padding: 0;
			margin:0;
			@include transition();
		}
		&#line::before {
			content: "";
			@include calc(width, "100% + 20px");
			height: 3px;
			background: $primary none repeat scroll 0 0;
			left: 0;
			position: absolute;
		}
	}
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	color: $primary;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 15px;
}

.timeline {
	@include mainBg();
	.tweet {
		padding: 15px;
		border-bottom: .5px solid rgba(136, 153, 166, .4);
		h2 {
			@include bold();
			line-height: 20px;
			a {
				color: $primary;
				text-decoration: none;
			}
		}
		p {
			line-height: 18px;
			a {
				color: $primary;
				text-decoration: none;
			}
		}
	}
}

.tweetNow {
	background-color: #e5f2f7;
	border-bottom: .5px solid rgba(136, 153, 166, .4);
	padding: 15px;
	textarea {
		width: 100%;
		resize: none;
		@include border();
		@include border-radius(5px);
		height: 34px;
		@include transition();
		padding: 8px 8px 0 8px;
		margin-bottom: 10px;
		@include regular();
		font-size: .9em;
		&:focus {
			height: 80px;
			border-color: $primary;
		}
	}
	input {
		width: 70%;
	}
	button {
		width: 27%;
	}
}

input {
	@include border();
	@include border-radius(5px);
	height: 34px;
	padding: 0 10px;
	margin-right: 2%;
	width: 100%;
	font-size: .9em;
	&:focus {
		border-color: $primary;
	}
}

button[type="submit"], .btn {
	background-color: $primary;
	@include border();
	@include border-radius(5px);
	color: $white;
	padding: 5px 10px 7px 11px;
	font-size: .8em;
	text-decoration: none;
	@include bold();
	@include transition();
	&:hover {
		@include gradient();
	}
	span {
		padding-right: 10px;
		font-size: 1.4em;
	}
}

.loginWrap, .registerWrap {
	@include mainBg();
	padding: 50px 25%;
	input {
		margin-bottom: 10px;
	}
	p {
		text-align: center;
		margin-top: 10px;
	}
	button, .btn {
		display: block;
		width: 100%;
		margin-top: 10px;
		text-align: center;
		padding-right: 40px;
	}
	.btn {
		padding-bottom: 11px;
	}
}

@import 'responsive';
