section.login, .register {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  background: #55ACEE;
  color: #292F33;
  position: relative;
  text-align: center;
  padding: 35px 0; }

section.login:last-child, .register:last-child {
  margin-right: 0; }

section.login input, .register input {
  margin-bottom: 25px;
  padding: 15px 7px;
  width: 145px;
  border-radius: 3px;
  border-style: none; }

.register {
  background: #4FC29F; }
  .register h1, .register span, .register a {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; }

.login h1, .login span, .login a {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

section::after {
  clear: both;
  content: "";
  display: table; }

section .loginWrap, section .registerWrap {
  display: table;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 65.05695%;
  margin-left: 17.47153%;
  height: 500px; }

section .loginWrap:last-child, section .registerWrap:last-child {
  margin-right: 0; }

/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */
/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

a {
  background: transparent;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, time {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Meyer's reset ends here */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

b, strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 85%; }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

body {
  box-sizing: border-box; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

html {
  font-size: 14px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?b4f7z8");
  src: url("../fonts/icomoon.eot?b4f7z8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?b4f7z8") format("truetype"), url("../fonts/icomoon.woff?b4f7z8") format("woff"), url("../fonts/icomoon.svg?b4f7z8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pen:before {
  content: "\e906"; }

.icon-dashboard:before {
  content: "\e900"; }

.icon-home:before {
  content: "\e901"; }

.icon-login:before {
  content: "\e902"; }

.icon-profile:before {
  content: "\e903"; }

.icon-register:before {
  content: "\e904"; }

.icon-users:before {
  content: "\e905"; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #f5f8fa; }

header {
  padding: 13px 0;
  border-bottom: 0.5px solid rgba(136, 153, 166, 0.4);
  height: 40px;
  margin-bottom: 10px; }
  header .inner {
    position: relative; }

.inner {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  max-width: 600px;
  width: 80%; }
  .inner::after {
    clear: both;
    content: "";
    display: table; }

nav ul {
  width: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  margin-left: 15px; }
  nav ul li {
    display: inline-block;
    padding: 0 1%; }
    nav ul li a {
      color: #66757f;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      text-decoration: none;
      position: relative;
      padding: 4px 0 0 30px;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      nav ul li a span {
        font-size: 2em;
        position: absolute;
        left: 0;
        top: 0; }
      nav ul li a:hover {
        color: #0084b4; }
    nav ul li#line {
      position: absolute;
      height: 3px;
      bottom: -13px;
      left: 0;
      padding: 0;
      margin: 0;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
    nav ul li#line::before {
      content: "";
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px);
      height: 3px;
      background: #0084b4 none repeat scroll 0 0;
      left: 0;
      position: absolute; }

h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #0084b4;
  letter-spacing: 3px;
  text-align: center; }

.homePage .timeline {
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0.5px solid rgba(136, 153, 166, 0.4); }
  .homePage .timeline .tweet {
    padding: 15px;
    border-bottom: 0.5px solid rgba(136, 153, 166, 0.4); }
    .homePage .timeline .tweet h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      line-height: 20px; }
    .homePage .timeline .tweet p {
      line-height: 18px; }
      .homePage .timeline .tweet p a {
        color: #0084b4;
        text-decoration: none; }

.tweetNow {
  background-color: #e5f2f7;
  border-bottom: 0.5px solid rgba(136, 153, 166, 0.4);
  padding: 15px; }
  .tweetNow textarea {
    width: 100%;
    resize: none;
    border: 0.5px solid rgba(136, 153, 166, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 34px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    padding: 8px;
    margin-bottom: 10px; }
    .tweetNow textarea:focus {
      height: 80px; }
  .tweetNow input {
    border: 0.5px solid rgba(136, 153, 166, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 34px;
    padding: 10px;
    margin-right: 2%;
    width: 70%; }
  .tweetNow button {
    width: 27%; }

button[type="submit"] {
  background-color: #0084b4;
  border: 0.5px solid rgba(136, 153, 166, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px 7px 11px;
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  button[type="submit"]:hover {
    background-color: #0083b3;
    background-image: -webkit-linear-gradient(top, #0083b3, #007099);
    background-image: -moz-linear-gradient(top, #0083b3, #007099);
    background-image: -o-linear-gradient(top, #0083b3, #007099);
    background-image: -ms-linear-gradient(top, #0083b3, #007099);
    background-image: linear-gradient(top, #0083b3, #007099); }
  button[type="submit"] span {
    padding-right: 10px;
    font-size: 1.4em; }

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; } }
