html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

// DANIELS SHITTY STYLING //
* {
  box-sizing: border-box;
  font-family: Helvetica; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: #EBF4FB; }
  main::after {
    clear: both;
    content: "";
    display: table; }

header {
  height: 50px;
  background: #fff; }

section.login, .register {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  background: #55ACEE;
  color: #292F33;
  position: relative;
  text-align: center;
  padding: 35px 0; }
  section.login:last-child, .register:last-child {
    margin-right: 0; }
  section.login input, .register input {
    margin-bottom: 25px;
    padding: 15px 7px;
    width: 145px;
    border-radius: 3px;
    border-style: none;
}

.register {
  background: #4FC29F;
  h1, span, a {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.login {
  h1, span, a {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section .loginWrap, section .registerWrap {
    display: table;
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
    margin-left: 17.47153%;
    height: 500px; }
    section .loginWrap:last-child, section .registerWrap:last-child {
      margin-right: 0; }

/// END OF DANIEL'S SHITTY STYLING ///
@import 'common_resetCss';
@import 'mixins';
@import 'fonts';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../bower_components/neat/app/assets/stylesheets/neat';

$primary: 	#0084b4;
$secondary:	#66757f;
$tertiary:	#8899a6;
$background:#f5f8fa;
$black:		#292f33;
$white:		#ffffff;


body {
	@include regular();
  	font-size: 1rem;
	background-color: $background;
}

header {
	padding: 13px 0;
	border-bottom: .5px solid rgba(136, 153, 166, .4);
	height: 40px;
	margin-bottom: 10px;
	.inner {
		position: relative;
	}
}

.inner {
	@include outer-container(12);
	margin: 0 auto;
	max-width: 600px;
	width: 80%;
}

nav ul {
	width: 100%;
	position: absolute;
	right: 0;
	text-align: center;
	margin-left: 15px;
	li {
		display: inline-block;
		padding: 0 1%;
		a {
			color: $secondary;
			@include bold();
			text-decoration: none;
			position: relative;
			padding: 4px 0 0 30px;
			@include transition();
			span {
				font-size: 2em;
				position: absolute;
				left: 0;
				top: 0;
			}
			&:hover {
				color: $primary;
			}
		}
		&#line {
			position: absolute;
			height: 3px;
			bottom: -13px;
			left: 0;
			padding: 0;
			margin:0;
			@include transition();
		}
		&#line::before {
			content: "";
			@include calc(width, "100% + 20px");
			height: 3px;
			background: $primary none repeat scroll 0 0;
			left: 0;
			position: absolute;
		}
	}
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	color: $primary;
	letter-spacing: 3px;
	text-align: center;
}

.homePage {
	.timeline {
		background-color: $white;
		margin-top: 15px;
		@include border-radius(5px);
		@include border();
		.tweet {
			padding: 15px;
			border-bottom: .5px solid rgba(136, 153, 166, .4);
			h2 {
				@include bold();
				line-height: 20px;
			}
			p {
				line-height: 18px;
				a {
					color: $primary;
					text-decoration: none;
				}
			}
		}
	}
}


button[type="submit"] {
	background-color: $primary;
	@include border();
	@include border-radius(5px);
	color: $white;
	padding: 5px 13px 7px 14px;
	font-size: 1em;
	@include bold();
	@include transition();
	&:hover {
		@include gradient();
	}
	span {
		padding-right: 10px;
		font-size: 1.4em;
	}
}

@import 'responsive';
