@mixin transition(){
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    transition: all 600ms ease;
}

@mixin regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
@mixin bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
@mixin heavy {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin border {
	border: .5px solid rgba(136, 153, 166, .4);
}

@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin gradient ($origin: top, $start: #0083b3, $stop: #007099) {
    background-color: $start;
    background-image: -webkit-linear-gradient($origin, $start, $stop);
    background-image: -moz-linear-gradient($origin, $start, $stop);
    background-image: -o-linear-gradient($origin, $start, $stop);
    background-image: -ms-linear-gradient($origin, $start, $stop);
    background-image: linear-gradient($origin, $start, $stop);
}

@mixin mainBg {
    background-color: $white;
    @include border-radius(5px);
    @include border();
}
